.well.well-large
  %h1 Edit User

= link_to "Home" , users_path , method: "get" ,class: "btn btn-primary"
%br
%br
.well.well-large
  = form_tag "/users/#{@user.id}", method:"put", class: "form-horizontal" do 
    = render "form" 
