<table>
  <tr>
  <th>
  Date:
  </th>
  <td>
  <%= @time_entry.date %>
  </td>
  </tr>


  <tr>
<th>
Time in:
</th>
<td>
<%= @time_entry.time_in %>
</td>
</tr>

  <tr>
  <th>
  Time out:
  </th>
  <td>
  <%= @time_entry.time_out %>
  </td>
  </tr>

  <tr>
  <th>
  Accomplishment:
  </th>
  <td>
  <input type="text_area" value=@time_entry.accomlishments name:"accomplishments">
  </td>
  </tr>
</table>
<input type="submit" value="Submit">



